<li>
	{{name}}

	<button id ="eat" class="change-gobbled" data-id="{{this.id}}" data-neweat="{{gobbled}}">
		{{#if gobbled}}{{else}}EAT This PIZZA!{{/if}}
	</button>

	<button id ="delete" class="delete-pizza" data-id="{{this.id}}">TRASH IT!</button>
</li>
