<li>
	{{name}}

	<button class="change-gobbled" data-id="{{this.id}}" data-neweat="{{gobbled}}">
		{{#if gobbled}}GONE!{{else}}EAT This PIZZA!{{/if}}
	</button>

	<button class="delete-pizza" data-id="{{this.id}}">DELETE!</button>
</li>
